<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ERPConnectionString" connectionString="Data Source=103.186.184.21;user id=user_TPErp;password=t61t7vE*; Initial Catalog=tp_ERP"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERPConnectionString1" connectionString="Data Source=.;Initial Catalog=ERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SupplyConnectionString" connectionString="Data Source=.;Initial Catalog=Supply;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.anbdbConnectionString" connectionString="Data Source=.;Initial Catalog=anbdb;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString2" connectionString="Data Source=162.254.161.2;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString3" connectionString="Data Source=94.97.104.109,7033;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString4" connectionString="Data Source=23.91.117.86;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erplogConnectionString" connectionString="Data Source=103.186.184.21;user id=tp_Erp_Log;password=D46_l9ax;Initial Catalog=tp_Erp_Log;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.AppsConnectionString" connectionString="Data Source=94.97.104.109,7033;Initial Catalog=Apps;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString5" connectionString="Data Source=94.97.104.109,7033;Initial Catalog=erp;Persist Security Info=True;User ID=softtec"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpTransConnectionString"
            connectionString="Data Source=103.186.184.21;user id=tp_Erp_Trans;password=m9F2bq7#;Initial Catalog=tp_Erp_Trans;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString6" connectionString="Data Source=192.168.3.14;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString7" connectionString="Data Source=37.216.234.222,7033;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString8" connectionString="Data Source=37.216.234.222,7034;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.appsConnectionString1" connectionString="Data Source=37.216.234.222,7034;Initial Catalog=apps;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.appsConnectionString2" connectionString="Data Source=23.91.117.86;Initial Catalog=apps;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erplogConnectionString1" connectionString="Data Source=37.216.234.222,7034;Initial Catalog=erplog;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString9" connectionString="Data Source=192.168.3.14\mssql;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString10" connectionString="Data Source=198.38.93.83;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString11" connectionString="Data Source=95.218.102.111,7033\MSSQL;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString12" connectionString="Data Source=192.168.100.10\mssql;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpConnectionString13" connectionString="Data Source=naqelat.net,7033\MSSQL;Initial Catalog=erp;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erpTransConnectionString1"
            connectionString="Data Source=naqelat.net,7033\MSSQL;Initial Catalog=erpTrans;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.erplogConnectionString2" connectionString="Data Source=naqelat.net,7033\MSSQL;Initial Catalog=erplog;Persist Security Info=True;User ID=softtec;Password=m0502181968"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>