.lgray{
	height:47px;
	border:1px solid #b2b2b2;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	background-color:#d4d4d4;
	background-image:-webkit-linear-gradient(top,#e0e0e0,#c8c8c8);
	background-image:-moz-linear-gradient(top,#e0e0e0,#c8c8c8);
	background-image:-o-linear-gradient(top,#e0e0e0,#c8c8c8);
	background-image:-ms-linear-gradient(top,#e0e0e0,#c8c8c8);
	background-image:linear-gradient(top,#e0e0e0,#c8c8c8);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px #f4f4f4,inset 0 -2px #b3b3b3,0 1px 3px #ddd;
	-moz-box-shadow:inset 0 1px #f4f4f4,inset 0 -2px #b3b3b3,0 1px 3px #ddd;
	box-shadow:inset 0 1px #f4f4f4,inset 0 -2px #b3b3b3,0 1px 3px #ddd
	}
.lgray2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D4D4D4;
    background-image: -moz-linear-gradient(center top , #E0E0E0, #C8C8C8);
    border-bottom-color: #B2B2B2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #B2B2B2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #B2B2B2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #B2B2B2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px #F4F4F4 inset, 0 -2px #B3B3B3 inset, 0 1px 3px #DDDDDD;
    font-family: Arial,Helvetica,sans-serif;
    height: 47px;
}			
.lgray a{text-decoration:none;}
.lgray2 a {text-decoration:none}
.lgray > li > a{color:#444;font-size:14px;line-height:18px;text-shadow:0 1px #f8f8f8;padding:13px 20px 16px;font-family:fal;}
.lgray2 > li > a {color: #444444;font-size: 14px;font-weight: bold;line-height: 18px;padding-bottom: 16px;padding-left: 20px;padding-right: 20px;padding-top: 13px;text-shadow: 0 1px #F8F8F8;}
.lgray>li:hover>a{
	background-color:#fff;
	color: Red;
	background-image:-webkit-linear-gradient(top,#f5f5f5,#fff);
	background-image:-moz-linear-gradient(top,#f5f5f5,#fff);
	background-image:-o-linear-gradient(top,#f5f5f5,#fff);
	background-image:-ms-linear-gradient(top,#f5f5f5,#fff);
	background-image:linear-gradient(top,#f5f5f5,#fff);
	-webkit-box-shadow:inset 0 3px #eee;
	-moz-box-shadow:inset 0 3px #eee;
	box-shadow:inset 0 3px #eee;
	border-left:none;padding-left:21px
	}
.lgray2 > li:hover > a 
{
    color: Red;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #FFFFFF);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    box-shadow: 0 3px #EEEEEE inset;
    padding-left: 21px;
}	
.lgray>li{
	border-right:1px solid #bbb;
	border-right:1px solid rgba(10,10,10,.1)
	}
.lgray2 > li {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(10, 10, 10, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}				
.lgray>li>a{
	border-left:1px solid #e3e3e3;
	border-left:1px solid rgba(255,255,255,.35)
	}
.lgray2 > li > a {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(255, 255, 255, 0.35);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
}	
.lgray>li.floatr{
	border-right:0;
	border-left:1px solid #bbb;
	border-left:1px solid rgba(10,10,10,.1)
	}
.lgray2 > li.floatr {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(10, 10, 10, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
}		
.lgray>li>a img,.lgray li>ul>li>a img{
	border:0;margin-right:7px
	}
.lgray2 > li > a img, .lgray2 li > ul > li > a img {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    margin-right: 7px;
}
.lgray>li>a .bubble,.lgray li>a .bubble-alt{
	font-size:11px;
	line-height:11px;
	padding:1px 4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-left:7px;
	position:relative;
	top:-1px
	}
.lgray2 > li > a .bubble, .lgray2 li > a .bubble-alt {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 11px;
    line-height: 11px;
    margin-left: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    position: relative;
    top: -1px;
}		
.lgray>li>a .bubble{
	color:#fff;
	background-color:#df0a0a;
	text-shadow:0 1px #9d0707;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1
	}
.lgray2 > li > a .bubble {
    background-color: #DF0A0A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px #F1F1F1;
    color: #FFFFFF;
    text-shadow: 0 1px #9D0707;
}		
.lgray>li>a .bubble-alt{
color:#fff;
background-color:#737373;
text-shadow:0 1px #505050;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1
}
.lgray2 > li > a .bubble-alt {
    background-color: #737373;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px #F1F1F1;
    color: #FFFFFF;
    text-shadow: 0 1px #505050;
}
.lgray>li:hover>a .bubble{
color:#fff;
background-color:#737373;
text-shadow:0 1px #505050;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1;
box-shadow:inset 0 1px 1px rgba(0,0,0,.4),0 1px #f1f1f1
}
.lgray2 > li:hover > a .bubble {
    box-shadow: none;
    text-shadow: none;
}
.lgray ul>li .bubble{
font-size:11px;
line-height:14px;
padding:1px 4px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:#df0a0a;
color:#fff;
border:1px solid #ccc;
position:absolute;
left:10px
}
.lgray2 ul > li .bubble {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-color: #CCCCCC;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #777777;
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    position: absolute;
    right: 10px;
}
.lgray>li>a .bubble-top{
position:absolute;
font-size:11px;
line-height:14px;
color:#fff;
padding:0 3px;
right:4px;top:-8px;
text-shadow:none;
border:1px solid #a00000;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:#df0a0a;
background-image:-webkit-linear-gradient(top,#f26870,#ec0e23);
background-image:-moz-linear-gradient(top,#f26870,#ec0e23);
background-image:-o-linear-gradient(top,#f26870,#ec0e23);
background-image:-ms-linear-gradient(top,#f26870,#ec0e23);
background-image:linear-gradient(top,#f26870,#ec0e23);
-webkit-box-shadow:inset 0 1px #ffa7a7;
-moz-box-shadow:inset 0 1px #ffa7a7;
box-shadow:inset 0 1px #ffa7a7
}
.lgray2 > li > a .bubble-top {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DF0A0A;
    background-image: -moz-linear-gradient(center top , #F26870, #EC0E23);
    border-bottom-color: #A00000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #A00000;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #A00000;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #A00000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px #FFA7A7 inset;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    position: absolute;
    right: 4px;
    text-shadow: none;
    top: -8px;
}
.lgray ul{
background-color:#fff;
border:1px solid #b3b3b3;
border-top:0;left:-1px;
-webkit-box-shadow:0 2px 1px #ddd;
-moz-box-shadow:0 2px 1px #ddd;
box-shadow:0 2px 1px #ddd
}
.lgray2 ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-color: #B3B3B3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #B3B3B3;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #B3B3B3;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    box-shadow: 0 2px 1px #DDDDDD;
    left: -1px;
}
.lgray>li.floatr>ul{right:-1px;left:auto;}
.lgray2 > li.floatr > ul {left: auto;right: -1px;}
.lgray>li.floatr>ul ul{left:-125px}
.lgray2 > li.floatr > ul ul {left: -125px;}
.lgray ul a{color:#666;font-weight:bold;font-size:13px;line-height:18px;padding:9px 12px;border-top:1px solid #e4e4e4;text-align:right}
.lgray2 ul a {border-top-color: #E4E4E4;border-top-style: solid;border-top-width: 1px;color: #666666;font-size: 13px;font-weight: bold;line-height: 18px;padding-bottom: 9px;padding-left: 12px;padding-right: 12px;padding-top: 9px;}
.lgray ul a:hover{background-color:#f5f5f5;}
.lgray2 ul a:hover {background-color: #F5F5F5;}
.lgray ul ul li:first-child a{border-top-color:#b3b3b3;}
.lgray2 ul ul li:first-child a {border-top-color: #B3B3B3;}
.lgray li>div{background-color:#fff;border:1px solid #b3b3b3;border-top:0;left:-1px;-webkit-box-shadow:0 2px 1px #ddd;-moz-box-shadow:0 2px 1px #ddd;box-shadow:0 2px 1px #ddd;padding:10px;}
.lgray2 li > div {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-color: #B3B3B3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #B3B3B3;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #B3B3B3;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    box-shadow: 0 2px 1px #DDDDDD;
    left: -1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.lgray>li.floatr>div{right:-1px;left:auto;}
.lgray2 > li.floatr > div {right: auto;left:-1px;direction:ltr;}
.lgray h4,.lgray h5{margin:0;padding:0;}
.lgray2 h4, .lgrayE h5 {margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;}
.lgray h4{font-size:15px;color:#888;font-weight:normal;margin:10px 10px 5px;padding-bottom:10px;border-bottom:1px solid #e1e1e1;font-weight:bold;text-align:center}
.lgray2 h4 {border-bottom-color: #E1E1E1;border-bottom-style: solid;border-bottom-width: 1px;color: #888888;font-size: 15px;font-weight: normal;margin-bottom: 5px;margin-left: 10px; margin-right: 10px;margin-top: 10px;padding-bottom: 10px;}
.lgray h5{font-size:14px;color:#444;font-weight:bold;margin:10px 10px 0;}
.lgray2 h5 {color: #444444;font-size: 14px;font-weight: bold;margin-bottom: 0;margin-left: 10px;margin-right: 10px;margin-top: 10px;}
.lgray ol{list-style:none;margin:7px 10px;padding:0;text-align:center;}
.lgray2 ol {list-style:none;margin-bottom: 7px;margin-left: 10px;margin-right: 10px;margin-top: 7px;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;}
.lgray ol a{color:#777;font-size:14px;padding:3px 0;font-weight:bold;}
.lgray2 ol a {color: #777777;font-size: 12px;padding-bottom: 3px;padding-left: 0;padding-right: 0;padding-top: 3px;}
.lgray ol a:hover{color: Red;}
.lgray2 ol a:hover {color: Red;}	
.lgray p{color:#555;font-size:12px;line-height:18px;margin:9px 10px;padding:0;}
.lgray2 p {color: #555555;font-size: 12px;line-height: 18px;margin-bottom: 9px;margin-left: 10px;margin-right: 10px;margin-top: 9px;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;}
.lgray p a{color:#888;text-decoration:underline;}
.lgray2 p a {-moz-text-blink: none;-moz-text-decoration-color: -moz-use-text-color;-moz-text-decoration-line: underline;-moz-text-decoration-style: solid;color: #888888;}
.lgray p a:hover{color:#555;}
.lgray2 p a:hover {color: #555555;}

