<?xml version="1.0"?>
<configuration>
    <system.web>
        <pages enableSessionState="true" />
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    </system.web>
</configuration>
